@font-face {
  font-family: 'Spicey'; /* Consistent naming */
  src: url('./fonts/Solitreo/Solitreo-Regular.ttf'); /* Correct relative path */
  font-weight: normal; /* Specify font weight*/
  font-style: normal; /*Specify font style*/
}

@font-face {
  font-family: 'speed';
  src: url("./fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}

body {
  font-family: "Spicey"; /* Apply to body and provide fallback */
  background-color: black;
  color: white;
}


.App {
  text-align: center;
}
.whole-body{
    width:100%;
    height:100vh; /* Correct height to occupy the whole screen*/

}



