.menu-bar {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;



  .button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }

  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }

  .button:hover::after {
    filter: blur(30px);
  }

  .button:hover::before {
    transform: rotate(-180deg);
  }

  .button:active::before {
    scale: 0.7;
  }


}


.hero-heading {
  z-index: 0;
  margin-top: 260px;
  font-size: 80px;
  font-family: "speed";
  /* Ensure 'speed' font is correctly loaded */
  text-shadow: 20px 20px 20px linear-gradient(90deg, #e81cff, #40c9ff);

  h1 {
    background: linear-gradient(90deg, #e81cff, #40c9ff);
    /* Gradient background */
    background-size: 300% 100%;
    /* Important: Wide enough for smooth movement */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Required for gradient visibility */

    animation: gradientAnimation 5s linear infinite;
    /* Continuous right-to-left animation */
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
    /* Start from the right */
  }

  100% {
    background-position: 0% 50%;
    /* Move to the left */
  }
}



.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #e81cff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}